/*#47B5FF COR DO LAYOUT BONITA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*TEXT-ALIGN: CENTER; */
body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
}

.container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.container .estatico{
    color: white;
    font-size: 3vw;
    font-weight: 400;
    margin-left: 20px;
}
.container .dinamico{
    margin-left: 20px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dinamico li{
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 100%;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.dinamico li span{
    position: relative;
}

.dinamico li span::after{
    content: "";
    position: absolute;
    widht: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(10) infinite;
    background-color: #000000;
}
.dinamico li span{
    position: relative;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

h1 {
    margin: 0;
    font-family: 'Montserrat', cursive;
    font-size: 2.5rem;
    color: #00ABB3;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #00ABB3;
    line-height: 2;
}

p{
  color:#00ABB3;
  font-family: 20px 'Press Start 2P', Montserrat;
  font-size: 1.6rem;
}

hr{
    width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html{
  background-color:#0A2647;
  overflow-x:hidden;
}

.pacman-top{
  background-color:yellow;
  height:100px;
  width:200px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
  background-color:yellow;
  height:100px;
  width:200px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin: 200px;
margin-top: -185px;
margin-left:150px;
width: 45px;
height: 45px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}

@keyframes eat {
	0% { box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;}

100% { box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;}
}
}


@-moz-keyframes eat {
	0% { box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;}

100% { box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;}
}
}

@-webkit-keyframes eat {
	0% { box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;}

100% { box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;}
}
}white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white,
      1300px 65px 0 0 white;}

100% { box-shadow:
      0px 65px 0 0 white,
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white,
      700px 65px 0 0 white,
      900px 65px 0 0 white,
      1100px 65px 0 0 white;
}

.profile{
    margin-top: 350px;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 300px;

}

.bottom-container{
    padding: 50px 0 20px;
}

.contact-me{
    padding-top: 100px;
}

.skills{
    margin-top: 300px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.container{
    text-align: justify;
    padding-bottom: 100px;
    padding-top: 100px;
}
.skill-row{
    margin: 20px 75px 20px 75px;
}
*{
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #00ABB3;
    height: 8vh;
}

main{
    background-size: cover;
    height: 15vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #00ABB3;
    width: 768px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}
@media screen and (max-width: 999px) {
    body{
        overflow-x: hidden;
}
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #00ABB3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }


.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}


.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #00ABB3;
    width: 768px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

    .container .estatico{
    color: white;
    font-size: 6vw;
    font-weight: 400;
    margin-right: 270px;

}
}

@media screen and (max-width: 768px) {

    body{
    overflow-x: hidden;
}

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #00ABB3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}


.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #00ABB3;
    width: 768px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

    nav{
            flex-direction: row;
            justify-content: space-around;
    }

    nav ul{
            flex-direction: row;
            width: 70%;
    }

    header{
            height: 600px;
            height: 6vh;
            justify-content: center;
    }

    .container .estatico{
    color: white;
    font-size: 6vw;
    font-weight: 450;
    margin-right: 370px;
}

    .container .dinamico{
    font-size: 6vw;
    font-weight: 400;
    }

.pacman-top{
  margin-left: 100px;
}

.pacman-bottom{
  margin-left: 100px;
}

.profile{
    font-size: 2000vw;


}
}

@media screen and (max-width: 450px){

    .container .estatico{
    color: white;
    font-size: 6vw;
    font-weight: 450;
    margin-left: 150px;
}

    .container .dinamico{
    font-size: 2vw;
    font-weight: 400;
    margin-left: 200px;
    }

.pacman-top{
  margin-left: 230px;
}

.pacman-bottom{
  margin-left: 230px;
}


}





